.text-semibold {
    font-weight: 500;
}

.text-accent {
    color: black;
    font-weight: 500;
}

.about {
    padding: 3vw;
}

a {
    color: #9012fe;
}

a:hover, a:visited, a:active {
    color: #6218a4;
}

.btn {
    background: #7d1fd0 !important;
    color: white !important;

    border-style: none !important;
}

.logo {
    text-align: center;
}

.navbar-toggle {
    border-style: none !important;
}

.logo-text {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 600;
    text-transform: none !important;
    font-size: 40px !important;
    color: white;
}

.sidebar[data-color="clear"]:after,
.bootstrap-navbar[data-color="clear"]:after {
    background: #7d1fd0;
    background: -moz-linear-gradient(top, #7d1fd0 0%, rgba(125, 31, 208, 0.4) 40%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d1fd0), color-stop(100%, rgba(125, 31, 208, 0.4)));
    background: -webkit-linear-gradient(top, #7d1fd0 0%, rgba(125, 31, 208, 0.4) 40%);
    background: -o-linear-gradient(top, #7d1fd0 0%, rgba(125, 31, 208, 0.4) 40%);
    background: -ms-linear-gradient(top, #7d1fd0 0%, rgba(125, 31, 208, 0.4) 40%);
    background: linear-gradient(to bottom, #7d1fd0 0%, rgba(125, 31, 208, 0.4) 40%);
    background-size: 140% 140%;
}

@media (max-width: 992px) {
    .top-bar {
        background-color: #7d1fd0;
        border-style: none !important;
    }

    .navbar-toggle {
        color: white;
    }
}