.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#response {
    display: inline;
}

#segment {
    display: inline;
    margin-left: 20px;
}

h4.plot-title {
    font-size: 18px !important;
    margin-top: 3px;
    margin-bottom: 3px;
    font-style: italic;
}